


 /* Login.css */

 body ,html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
  }
  
  .login-background {
    /* background-image: url('https://img.freepik.com/free-photo/woman-sitting-yoga-pose-beach_1098-1454.jpg?w=900&t=st=1705990912~exp=1705991512~hmac=0f55893b59e77104634b2babc8520c62568f0db4c445e388d1267c1ce2ec643a'); */
    background-image: url('https://img.freepik.com/free-photo/beautiful-woman-meditating-nature_23-2148940321.jpg?w=900&t=st=1706035920~exp=1706036520~hmac=c88a8987d7e1995a6e1d5596fdcf3a790b78a647bb5504f919f22453bbad0723');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
  
  }
  
  .login-form {
    /* background: linear-gradient(to bottom, rgba(135, 190, 128, 0.7),rgba(255, 255, 255, 0.2)); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 720px;
    margin-top: 10px;
    position: relative;
    backdrop-filter: blur(3px);
    border: 1px solid #e8f3f4;
  }
  
  .login-heading {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #e8f3f4;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px; /* Adjust the margin-bottom value */
    color: #333;
  }
  
  .login-label {
    display: block;
    margin-bottom: 8px;
    margin-right: 200px;
    color: #e8f3f4;
  }
  
  input {
    width: 93%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-button {
    width: 93%;
    padding: 12px;
    background-color: #4b6cb7;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: #394f9c;
  }
  
  #error-message {
    color: #e74c3c;
    margin-top: 10px;
    text-align: center;
  }
  
  .existing-account {
    text-align: center;
    margin-top: 10px;
    color: #e8f3f4;
  }
  
  .existing-account p {
    margin: 0; /* Remove default margin */
  }
  .existing-account a {
    color: #e8f3f4;
    text-decoration: none;
    text-decoration: underline;
  }
  
  .existing-account a:hover {
    /* text-decoration: underline; */
    color: rgb(220, 112, 112);
  }
  
  @media screen and (max-width: 600px) {
    .login-form {
      width: 90%; /* Adjust for smaller screens */
      height: 280px;
    }
  }
  