   .back-container {
    position: relative;
    overflow: hidden;
  }
  
  .pbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .pbg img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .container {
    position: absolute;
    border: 2px solid white; /* Adjust border styles as needed */
    width: 50%;
    top: 25%;
    left: 25%;
  }
  
  .container2 {
    top: 55%; /* Adjust the position of the second container as needed */
  }